[2019-01-29 06:54] hohonuuli opened #1 "Unable to return Hibernate resultStream from controller."
I have a controller method that returns a JPA result stream. It looks like:

[code]

I've tried every permutation of Stream/Observable/Flowable I can think of, but whenever this method is called, the hibernate session/transaction is closed __before__ any data is written. The relevant debug logs are:

[code]

If I eagerly fetch all items, like below, then it works fine. But that's not what I want a

[2019-02-06 11:05] graemerocher commented on #1
Currently the transaction is closed after commit, supporting this would require keeping the connection and transaction open until the stream is complete. Currently that is not implemented.

[2019-02-07 06:40] jkazama opened #2 "HibernateTransactionManagerFactory does not support multiple datasources"
### Steps to Reproduce

Problems occur with multiple datasources like

[code]

### Expected Behaviour

HibernateTransactionManager owns a Datasource of the same name

### Actual Behaviour

HibernateTransactionManager always has `default` Datasource

### Example Application

Please check my sample code.
https://github.com/jkazama/micronaut-issue-txdatasource

[2019-02-07 07:52] #2 closed

[2019-02-13 08:43] oshai opened #3 "will you consider adding jasync-sql driver"
This is an async sql driver (uses netty) that can connect both PostgreSQL and MySQL that we maintain: https://github.com/jasync-sql/jasync-sql

Will you consider adding support for it?

[2019-02-13 09:22] graemerocher commented on #3
Could definitely be supported with a module similar to https://github.com/micronaut-projects/micronaut-sql/tree/master/postgres-reactive, would you guys be interested in sending a PR?

[2019-02-13 09:48] oshai commented on #3
Yes, sending a PR is a good option. Should I basically clone the library and replace the implementation? Are there any things that are redundant?

[2019-02-13 09:52] graemerocher commented on #3
That works, I don't know enough about how jasync-sql is configured, but the Postgres implementation used `@ConfigurationBuilder` for example which just delegates the configuration options to the backing library https://github.com/micronaut-projects/micronaut-sql/blob/master/postgres-reactive/src/main/java/io/micronaut/configuration/postgres/reactive/PgPoolConfiguration.java#L32

Some things may be

[2019-02-13 10:01] oshai commented on #3
jasync configuration is using an object called ConnctionPoolConfiguration: https://github.com/jasync-sql/jasync-sql/blob/2ad6e743ba75ae565ad6978522ad7fb4e173a1fc/db-async-common/src/main/java/com/github/jasync/sql/db/ConnectionPoolConfiguration.kt#L52

will adding the annotation allow to configure that object?

[2019-02-13 10:03] graemerocher commented on #3
Should do, I'm no Kotlin expert but if Java sees regular Java bean setters from the Kotlin data class it should just work

[2019-02-13 10:04] oshai commented on #3
yes, It's the same. I will create an initial PR.

[2019-02-13 12:27] oshai commented on #3
I created a PR: https://github.com/micronaut-projects/micronaut-sql/pull/4 let's continue the discussion over there.

[2019-02-14 08:19] graemerocher commented on #3
Merged. Thanks for the PR and contribution

[2019-02-14 08:20] #3 closed

[2019-03-01 15:50] marceloverdijk opened #15 "Add support for jOOQ auto configuration"
It would be nice to have out of the box support for jOOQ configuration.

Similar as Spring Boot supports this: https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/jooq/JooqAutoConfiguration.java

[2019-04-03 14:14] raderio opened #6 "Add support for JDBDT"
http://jdbdt.org/
JDBDT: Java Database Delta Testing

We are using this library instead of DbUnit with Spring Boot.

https://github.com/JDBDT/jdbdt

[2019-04-05 10:18] lfrKain opened #7 "java.lang.IllegalStateException: Session/EntityManager is closed, when using multiple datasources"
Micronaut version: **1.1.0.M1**

When using multiple datasources, only the first request I use the second datasource repository works correctly, in the following requests I get the exception.

I have uploaded a branch for my fork of the "Access a database with JPA and Hibernate" guide project with the new datasource, entity, repository, controller and a test that throws the exception --> https://g

[2019-04-29 22:47] fmayoral opened #8 "Outdated micronaut version"
Micronaut version are misaligned for this version, see dep tree
[code]

[2019-05-09 06:24] graemerocher commented on #8
It is not misaligned, the library still supports Micronaut 1.0.4 to align the versions correctly you should use the `micronaut-bom` for 1.1.0 which will ensure the correct transitives are used.

[2019-05-09 06:24] #8 closed

[2019-05-09 06:24] graemerocher commented on #7
Thanks will take a look

[2019-05-09 12:56] bufferings commented on #8
@graemerocher I understood your thought and I agree.

I'm not sure here is the right place to ask, but I have a question related 1.1.0. When I replaced `micronautVersion` to `1.1.0` in `gradle.properties` and run `./gradlew check`, a test fails:
[code]

I briefly debugged the code and found that with `1.0.4`, the exception is caught here:

https://github.com/spring-projects/spring-framework/blob/v

[2019-05-09 13:44] graemerocher commented on #8
Yeah it is more an error in the test, the test just needs to be updated to check for Exception instead of RuntimeException

[2019-05-09 13:45] graemerocher commented on #8
btw the library can now be updated to 1.1.0 but when we do so we need to change the the version to 1.2.0.BUILD-SNAPSHOT

[2019-05-09 14:16] bufferings commented on #8
Thank you!

I understood that Exception is the correct expected value for 1.1.0.

I got it. When I send pull request, I will change the projectVersion of micronaut-sql to 1.2.0.BUILD-SNAPSHOT

[2019-05-09 22:37] fmayoral commented on #8
I see, thanks!

[2019-05-10 14:57] bufferings opened #9 "[native-image] Support EntityManager generation"
Hi, I would like to know Micronaut team's opinion to send my PR.

I have 2 questions:
1. Could I send a PR with these changes?
2. Which branch should I send PR to?

I'm thinking to send pull request as a first step for native-image generation with following changes:
https://github.com/bufferings/micronaut-sql/pull/1/files

This includes 2 changes.

1. Change to use Micronaut 1.1.0
2. Change Entity

[2019-05-10 15:59] graemerocher commented on #9
1. Yes please!
2. To master please

We probably want to not modify the `package-to-scan` property and maybe add an additional one that is `packages-to-use` or something. There may be cases where you still want to use package scanning.

[2019-05-10 23:39] bufferings commented on #9
Understood! At first, I will send a PR and then will modify it to use `packages-to-use` or something.

[2019-05-11 00:02] bufferings commented on #9
Close this issue as my questions are solved and created PR

[2019-05-11 00:02] #9 closed

[2019-05-13 00:09] soberich opened #11 "Follow the transition of `reactive-pg-client` to support new (e.g. `vertx`) namespace)"
Recently it was transitioned to `eclipse-vertx` to `io.vertx` namespace from `io.reactiverse`
see https://github.com/eclipse-vertx/vertx-sql-client
now snapshots already available in OSS.
Probably in by their first release Micronaut should be ready to support it (even if just by renaming packages with no improvement on integration).

[2019-05-15 09:39] raderio opened #12 "Add support for Database Rider"
https://github.com/database-rider/database-rider
This project aims for bringing DBUnit closer to your JUnit tests so database testing will feel like a breeze!

We replaced DBUnit with Database Rider, and enjoyed it.

[2019-05-15 14:34] graemerocher commented on #7
Doesn't seem to impact 1.1.0 GA release

[2019-05-15 14:34] #7 closed

[2019-06-13 19:31] #15 closed

[2019-07-07 14:58] lightbody opened #16 "Support for Google Cloud Run -> Google SQL"
I've decided to use managed Google Cloud Run + a Google SQL Postgres database for my deployment. The docs are pretty sparse, but the way you can integrate the two securely without having to keep your database open to the public is to follow the directions outlined [here](https://cloud.google.com/run/docs/configuring/connect-cloudsql).

As you can see, the trick is that Cloud Run bakes in a little

[2019-07-07 17:32] lightbody commented on #16
With the help of @jameskleeh, I was able to accomplish this without any changes to the source of this project:

[code]

[code]

With these two classes, your **application.yml** file can look like this:

[code]

As you can see, I introduced a simple new convention that looks for "socket@" and establishes the UnixSocketFactory if so. Otherwise, it keeps the same Hikari default behavior that connects

[2019-07-08 13:22] lightbody commented on #16
Quick update: this works exactly the same in Google App Engine (Flexible).

[2019-07-08 13:31] #16 closed

[2019-07-19 13:43] rafaelrenanpacheco opened #17 "Default physical naming strategy for Hibernate JPA"
Hello!

When using Hibernate JPA the schema validation tries to match the table name using exactly the same name as the entity. So a entity called `FooBar` must exists as a `FooBar` table in the database. This behavior can be changed by creating a custom naming strategy and set it to hibernate.

On Predator JDBC this is the current strategy:

Would be possible to make this strategy the default str

[2019-07-22 23:08] kurtisvg commented on #16
FYI for anyone else looking for a socket factory: [Cloud SQL JDBC SocketFactory](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory)

[2019-07-22 23:12] lightbody commented on #16
@kurtisvg Oh wow wish I found that a few weeks ago :)

[2019-07-24 11:17] graemerocher commented on #17
probably a good idea. Not sure it can be done without incrementing the major version

[2019-07-25 13:47] rafaelrenanpacheco commented on #17
In the 1.* version this could be opt-in with some new property, like:
- sql.physical-naming-strategy=snakecase

In the 2.* version this would be the default, so no property is required for those who want to use the snake case naming strategy. If the user want to go back to the 1.* behavior then the property would be something like this:
- sql.physical-naming-strategy=pascalcase

(the property name

[2019-08-03 16:48] glaforge commented on #16
For an app on App Engine Java 11, I was also facing similar issues.
I followed your approach, but simplified it a bit.
We can use Google's own unix socket factory instead of creating our own.

In my application.yaml I use a standard JDBC URL:
[code]

And in my bean initialization listener, I've hard coded things like the Cloud SQL Instance name, but we could get that info from the JDBC URL and par

[2019-09-09 13:44] graemerocher commented on #17
I think we can probably set the default to under score separated for Micronaut Data JPA since that is unreleased software and would result in a non-breaking change.

See https://github.com/micronaut-projects/micronaut-data/issues/103

[2019-09-09 13:58] rafaelrenanpacheco commented on #17
Agreed, this feature request is indeed related to Micronaut Data JPA. Closing it in order to follow it on micronaut-projects/micronaut-data#103.

[2019-09-09 13:58] #17 closed

[2019-10-02 08:19] graemerocher commented on #11
New client integrations have been merged. Thanks

[2019-10-02 08:19] #11 closed

[2019-10-12 07:13] ivangfr opened #67 "Problem with JDBC-Hikari"
Hi,

Following the [example-jpa](https://github.com/micronaut-projects/micronaut-data/tree/master/examples/example-jpa) I was able to build a native image of my application. For it, I was using
[code]

However, when I replaced to
[code]

I am getting the following exception
[code]

Best regards

[2019-10-14 07:22] ivangfr opened #66 "Problem with JDBC-Hikari"
Hi,

Following the [example-jpa](https://github.com/micronaut-projects/micronaut-data/tree/master/examples/example-jpa) I was able to build a native image of my application. For it, I was using
[code]

However, when I replaced to
[code]

I am getting the following exception
[code]

Best regards

[2019-10-14 10:00] #67 closed

[2019-10-19 05:27] BillyYccc opened #72 "the Reactive SQL Client clean up"
[the Reactive SQL Client](https://github.com/eclipse-vertx/vertx-sql-client) has been integrated into Vert.x stack, so it's unnecessary to exclude the `vertx-core` dependency in both `vertx-mysql-client` and `vertx-pg-client` modules anymore. This would ease the upgrading process of Vert.x dependencies.

[2019-10-22 09:18] #72 closed

[2019-10-24 18:37] guest-acc opened #79 "Reactive postgres client doesn't create more than one connection to the DB"
For some reason, PgPool provided with micronaut 1.2.5 doesn't create more than one connection to the db, which is a serious perf bottleneck.

I do have simple controller:

[code]

complete code: https://github.com/guest-acc/micronaut-my-postgres-app

The expectation is that with higher load (I do use ab: `ab -t60s -c100 http://localhost:8080/test
`), it will scale and create more connections.

All

[2019-10-25 07:11] graemerocher commented on #79
I am not sure why it behaves this way. Maybe @BillyYccc can comment. I know for the benchmark example with Micronaut we had to create multiple clients. See https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Java/micronaut/src/main/java/benchmark/repository/PgClientFactory.java

This may be the "correct" way to set this up.

[2019-10-25 08:16] graemerocher commented on #79
Agreed, the module is/was an external contribution just like the jasync-sql support. If you wish to contribute to it to improve either the documentation or implementation feel free to send a PR

[2019-10-25 15:10] BillyYccc commented on #79
Hi, I have taken a brief look at your code and that is expected behavior, let me make things clearer.

The `Pool#query` method will first get a connection from the connection pool, execute the query and then automatically returns it to the pool. So it’s possible there’s only one pooled connection in the pool which is capable of handling queries under a low load. But on a higher load, the number of

[2019-10-26 14:10] guest-acc commented on #79
@BillyYccc please run the example I shared and put any load there. There won't ever be more than single connection to the dabatase.

From my perspective, this is Blocker bug for whole reactive postgres module in micronaut, it's not usable for any reasonable production use.

Also, as I stated, the issue is not in the client itself. It's in the way how it's integrated to micronaut / connected to net

[2019-10-26 15:05] guest-acc commented on #79
@graemerocher @BillyYccc I took another look and .. when I build
`https://github.com/micronaut-projects/micronaut-sql.git`

locally (and publish it to maven local), I can see

`~/.m2/repository/io/micronaut/configuration/micronaut-vertx-pg-client/1.3.0.BUILD-SNAPSHOT/`

being created. But that artifact doesn't seem to be published anywhere:

https://search.maven.org/search?q=micronaut-vertx-pg-cli

[2019-10-26 15:29] guest-acc commented on #79
@BillyYccc I did reproduce the original issue even with micronaut-vertx-pg-client, see:

https://github.com/guest-acc/micronaut-my-postgres-app/tree/micronaut-vertx-pg-client

no matter what load you run, it creates only single connection to the db.

[2019-10-28 10:24] BillyYccc commented on #79
@guest-acc can you try the other tools such as wrk?

[2019-10-28 15:45] guest-acc commented on #79
I already did that before starting this thread, produces same result.

[2019-10-30 16:36] graemerocher commented on #79
Probably would work adding the @Blocking annotation too as that would shift it off the event loop

[2019-10-30 18:16] guest-acc commented on #79
for some reason it doesn't.

I modified the REST endpoint:

[code]

and I'm still getting only one connection to the database.

The output says that the method is being invoked on threads "nioEventLoopGroup-1-*", where * is anywhere between 1 and 17.

[2019-11-07 14:03] BillyYccc commented on #79
Sorry for having been too busy to take a deeper look into this, indeed this should be unexpected behavior for the sql client module, I will investigate this.

[2019-11-22 08:47] pjungermann opened #89 "discontinue postgres-reactive in favor of vertx-pg-client"
The underlying library of postgres-reactive is in maintenance mode in favor of the vertx pg-client library. The reference to its github in the docs already redirect to the vertx one (which is referencing/mentioning it).

[2019-12-02 12:23] guest-acc commented on #79
Hello @BillyYccc,

can we except any activity on this in foreseeable future?

[2019-12-02 13:07] BillyYccc commented on #79
I have tried with postgres client directly with Micronaut not in a DI way but also with no luck, currently we're reworking the SQL client and the internal connection pool to make it able to integrate with other frameworks in a friendlier way, we will revisit this issue when we progress on that.

[2020-01-03 13:47] LukasPrediger opened #97 "Jasync configure interceptors"
According to the [Jasync Configuration Properties](https://micronaut-projects.github.io/micronaut-sql/latest/guide/configurationreference.html#io.micronaut.configuration.jasync.JasyncPoolConfiguration) there should be a property named "interceptors" that takes a list of suppliers of QueryInterceptors in order to configure an [Interceptor](https://github.com/jasync-sql/jasync-sql/wiki/Interceptors)

[2020-01-28 19:28] arudge opened #104 "jasync-sql SSL configuration can't be just yaml"
This came out of a conversation in the Gitter and it was suggested to create an issue for this to make it easier in the future

### Steps to Reproduce

1. attempt to configure a micronaut project to use jasync with ssl

### Expected Behaviour
Configuration as such would enable SSL connections to db:
[code]
See jasync-sql [SSLConfiguration](https://github.com/jasync-sql/jasync-sql/blob/master/db-as

[2020-02-05 09:13] jachinte opened #106 "Problem with Liquibase and Hibernate Envers: Argument [beanType] cannot be null"
Hi,

I want to use Micronaut with Liquibase, Hibernate and Envers.
The first two projects work as expected, but once I add Envers and mark my entity with @Audited I get the error `Bean definition [org.hibernate.SessionFactory] could not be loaded: Error instantiating bean of type [org.hibernate.SessionFactory]: Argument [beanType] cannot be null`. The schema configuration with Liquibase is fine, I

[2020-02-12 16:26] nguyendon96 opened #112 "Unable to resolve vert-pg-client dependency"
Hello, creating a new application using vertx-pg-client gives me this error while trying to build:

[code]

This is my first issue, so excuse me if I'm not doing it in the proper structure

[2020-02-14 16:33] #112 closed

[2020-02-18 17:13] martinanderssondotcom opened #120 "What Gradle configuration should I use to configure a Hikari DataSource?"
[This page][1] says `runtime`. [Other page][2] says `implementation`.

It would be great if the documentation could be consistent, and also explain the "why".

In my use case, I needed to be absolutely sure what connection pool ended up being used in my Micronaut app in order to make programmatic assumptions related to thread-safety and the reuse of jOOQ queries. What follows is my little experime

[2020-02-18 17:20] graemerocher commented on #120
So we are still in the process of migrating all the docs to Gradle's new non-deprecated scope names (`implementation`, `testImplementation` etc.). See commit https://github.com/micronaut-projects/micronaut-docs/commit/34466598a940af9163ee56e3512ddfcd062aa867 from 6 days ago

If there is something we can agree on that yes Gradle is a bit of a mess in this regard.

The reason `runtimeOnly` worked fi

[2020-02-19 00:10] martinanderssondotcom commented on #120
I was hoping that the paragraph after "the build command had a different effect" explained the effect. What I meant is, in other words, this:

`runtimeOnly` worked fine for `gradle run` but the same configuration did not work for `gradle build` as classes in package `io.micronaut.configuration.jdbc.hikari` was not included with the built jar, which they were when I used `implementation` and `runti

[2020-03-17 15:10] #120 closed

[2020-03-17 16:35] graemerocher commented on #89
Done https://github.com/micronaut-projects/micronaut-sql/commit/7fc60353aecc85b1a04f6ad99d0bd65c30e8ae19

[2020-03-17 16:35] #89 closed

[2020-03-18 09:45] #104 closed

[2020-03-18 09:58] graemerocher commented on #12
We won't be fixing this, but contributions welcome!

[2020-03-18 09:58] #12 closed

[2020-03-20 09:45] graemerocher opened #129 "Test issue"
this is a test issue to test github actions

[2020-03-26 10:41] sdelamo opened #130 "Migrating to Micronaut 2.0 - Could not obtain transaction-synchronized Session for current thread"
I am trying to Migrate to Micronaut 2.0.0.M1 a Micronaut  1.3.3 application with following dependencies:

[code]

I have this kind of repository:

[code]

## Migration Steps

I set micronaut version to 2.0.0.M1 and I took the following steps:

### Remove @CurrentSession

I removed `@CurrentSession` since it is deprecated.

[code]

### Resolve Transactional Import

Import `import io.micronaut.sprin

[2020-03-26 11:53] graemerocher commented on #130
I think the issue may be that Micronaut Data currently maps `Transactional` for spring but it is missing from this project, so for the meantime you would have to use the deprecated `io.micronaut.spring.tx.annotation.Transactional`

[2020-03-26 11:54] graemerocher commented on #130
Or add `micronaut-spring-annotation` to your annotation processor classpath, which also has a mapper https://github.com/micronaut-projects/micronaut-spring/blob/master/spring-annotation/src/main/java/io/micronaut/spring/annotation/tx/TransactionalAnnotationMapper.java

[2020-03-26 12:07] sdelamo commented on #130
If I use the depreacated `io.micronaut.spring.tx.annotation.Transactional` I get:

[code]

[2020-03-26 12:10] sdelamo commented on #130
I've tried adding `annotationProcessor "io.micronaut.spring:micronaut-spring-annotation"` but I get the same `javax.persistence.TransactionRequiredException: no transaction is in progress` exception.

[2020-03-28 02:48] mlopeza opened #133 "Support Hibernate BeanContainer"
From Hibernate 5.3 onwards it is possible to provide a BeanContainer. This bean container is useful for example when creating a Hibernate AttributeConverter in the case you need to inject some data into it to manipulate the data in a use case like Encryption with external keys.

If we implement the BeanContainer we can rely on the BeanLocator to resolve beans easily.

Here's how Spring implemented

[2020-04-03 12:32] govi20 opened #136 "Hikari DataSource bean creation fails due to empty implementation"
We are setting up Hikari DatasourceConfiguration following way:

[code]

But it seems post version 1.3.0, `setDataSourceProperties(props)` has empty implementation. This method could be marked as deprecated or `Map` implementation can be called to ensure backward compatibility,

[2020-04-06 06:08] wangdiskater opened #137 "When I use Jpa Specification - Unexpected error occurred: Could not obtain transaction-synchronized Session for current thread"
I find
[code]
value is null. throw this exception.
Application Start,
[code]
And using default sessionFactory. However,
In application.xml I set 'current_session_context_class' .its doesn"t work.
[code]

## Service
[code]
## Repository
[code]
## Specification
[code]
I don't know why?

[2020-04-07 08:24] wangdiskater commented on #137
In the package io.micronaut.data:micronaut-data-spring-jpa:1.0.1 this method:
[code]
I set application.xml about `current_session_context_class: thread`. it doesn‘t work and alway is 'org.springframework.orm.hibernate5.SpringSessionContext'
[code]
So i can't create ThreadLocalSessionContext in SessionFactoryImp
[code]

[2020-04-11 06:32] sdelamo commented on #137
Which Micronaut version are you using? Do you have a sample app?

[2020-04-13 09:11] wangdiskater commented on #137
Thanks you to answer my question extremely. Micronaut version is 1.3.3.
However I change version it still doesn't work. I find i can't get the EntiyManage. when I use JPA specification. when i use specification, interceptor is FindAllSpecificationInterceptor and other use DefaultFindAllInterceptor. I guess Interceptor doesnt set EntiyManager into resourceMap in bindResource().  sample app in here:

[2020-04-14 06:59] graemerocher commented on #137
You were missing the `micronaut-spring` dependency. The following fixes your project:

[code]

[2020-04-14 07:00] #137 closed

[2020-04-14 07:54] graemerocher commented on #130
Problem can be resolved with the following diff:

[code]

[2020-04-14 07:54] #130 closed

[2020-04-15 03:03] wangdiskater commented on #137
Thanks all your assistance!   I need to study hard from now on.

[2020-04-27 15:03] #133 closed

[2020-04-27 16:59] benmccann opened #148 "[docs] Reactive and vert.x clients are one and the same"
https://github.com/reactiverse/reactive-pg-client redirects to https://github.com/eclipse-vertx/vertx-sql-client. The vert.x clients are reactive. There's no separate Reactive vs non-reactive ones

[2020-04-28 15:07] theHacker opened #150 "Micronaut overrides configured PhysicalNamingStrategy"
With https://github.com/micronaut-projects/micronaut-data/commit/ffd3fa61a42e119f7174050b811580125f7f7361 you introduced a default `PhysicalNamingStrategy`.
This default however overrides existing settings from the `application.yml`.

This is confusing when you define implicit and physical naming strategies in `application.yml` and only the implicit one is working as expected.

### Task List

- [x

[2020-04-28 15:08] graemerocher commented on #150
Since you have investigated the fix would you fancy sending a PR?

[2020-04-28 15:52] #148 closed

[2020-04-30 06:30] theHacker commented on #150
Would like to, but no promises here.
Because we just including Micronaut via Gradle as a library, I suspect it will get difficult for me to setup things up to be able to change the code and get your tests running.

[2020-04-30 08:57] morki opened #151 "JOOQ - GraalVM native image compatibility"
JOOQ can be made native image compatible, see:

https://github.com/jOOQ/jOOQ/issues/8779#issuecomment-616177481
https://github.com/jOOQ/jOOQ/issues/8779#issuecomment-616182926

We can add this substitution to this repository to enable it for Micronaut users:

[code]

And add comment based on this to documentation:

[2020-04-30 09:03] graemerocher commented on #151
Good idea, want to send a PR?

[2020-05-01 08:32] morki commented on #151
@graemerocher yes, but it will take same time, I have another problems with basic type mapping, need to investigate.

[2020-05-01 08:39] morki commented on #151
@graemerocher another question:

When using `@Introspected` annotation to enable reflection, there is `packages` option, which is ideal for JOOQ generated packages with `Record`s, but it force you to use `includedAnnotations` property, which is not ideal in this case. Is there a workaround to introspect whole package without using this property?

[2020-05-01 09:05] graemerocher commented on #151
Not currently no. Allowing any type to be introspected is unlikely to work well

[2020-05-03 22:27] morki commented on #151
@graemerocher sorry, I thought `@TypeHint` annotation. However I have working solution, but i don't like it being explicit about listing all your `Record` classes. Do you see here some alternative, like introducing something like `@TypeHint(packages={"my.package"})`?

1) ProxyMapper substitution:

[code]

2) DefaultDataType reflection configuration:

[code]

3) Native image instrumentation:

[code

[2020-05-04 07:22] graemerocher commented on #151
@morki what I would do is add a `@Subsitute` method for `ImmutablePOJOMapper.map` that uses `io.micronaut.core.reflect.InstantiationUtils.instantiate` instead of reflection directly to crew new instances and then you could annotated your record classes with `@Introspected` and it would just work

[2020-05-04 07:23] graemerocher commented on #151
`@Introspected` also supports `packages` so you could define a whole package of them etc.

[2020-05-04 12:29] morki commented on #151
@graemerocher thank you very much, I will try to go this way, but there is the same problem with `@Introspected(packages={ ... })`, because it needs some annotation on the `Record` classes and they are generated by JOOQ.

[2020-05-04 12:32] morki commented on #151
@graemerocher maybe I misunderstood your point, I am new to Java, so sorry for maybe dumb questions...

[2020-05-04 13:16] graemerocher commented on #151
No you are correct that `@Introspected` currently requires an annotation. So we may need something else although I am unsure what that should be at this stage.

[2020-05-05 09:11] morki commented on #151
@graemerocher thank you, so would you like me to contribute the previous changes and for now, documenting that all `Record` classes need to be added to `@TypeHint` annotation for now?

[2020-05-05 10:23] morki commented on #151
@graemerocher I found some way to do this: https://www.jooq.org/doc/3.12/manual/code-generation/codegen-advanced/codegen-config-generate/codegen-generate-annotations/

JOOQ can generate `@Generated` annotation and with that, we can use `@Introspected(packages={"package.of.your.records"})` and you `ImmutablePOJOMapper.map` substitution with `InstantiationUtils.instantiate`.

What do you think?

[2020-05-05 12:27] graemerocher commented on #151
Seems like a great idea

[2020-05-14 03:15] BenStuart opened #164 "Could not find io.micronaut.configuration:micronaut-vertx-pg-client"
Followed instructions here:
https://micronaut-projects.github.io/micronaut-sql/latest/guide/index.html#vertxpgclient

Added:
` implementation("io.micronaut.configuration:micronaut-vertx-pg-client")` to my `build.gradle`, imported changes to `build.gradle` using IntelliJ

Attempted:
 `./gradlew run`

Got:
[code]

[2020-05-14 03:18] BenStuart commented on #164
While I am here, in that example the `application.yml` indenting is all out of wack.

I assume its:
[code]

[2020-05-16 10:05] paulszego opened #165 "Hibernate mapping errors are hidden"
Mapping errors in hibernate mapping (e.g. via Hibernate annotations) are hidden, as the exception that propagates out of the EntityManagerFactoryBean is discarded due to questionable behaviour of generated code.

See [here](https://github.com/micronaut-projects/micronaut-core/issues/3254) for the issue tracking the problem with null returns in factory methods.

Until that's resolved we can at leas

[2020-05-19 06:57] #165 closed

[2020-05-26 18:10] goeh commented on #164
Same problem here. I tried to upgrade a project from Micronaut 1.2.11 to 1.3.5 and replaced `micronaut-postgres-reactive` with `micronaut-vertx-pg-client`. Got the above error message. So I created a new project from scratch with `mn create-app my-app --features vertx-pg-client`. Same error.

[2020-05-26 18:17] goeh commented on #164
Artifact seems to be missing from the bom. Specifying a version number solved the problem `implementation "io.micronaut.configuration:micronaut-vertx-pg-client:1.4.0"`

[2020-05-29 13:14] #164 closed

[2020-06-01 18:29] morki commented on #151
@graemerocher After some prototyping, I think the idea with `@Generated` annotation is not good.

As of this comment https://github.com/jOOQ/jOOQ/issues/8779#issuecomment-567492457 JOOQ author is intended to provide native image compatibility in long run, so maybe we can just help our users (and me :)) to use basic functionality now in native image, and wait for JOOQs native solution.

I created P

[2020-06-02 09:03] #129 closed

[2020-06-02 15:21] ilopmar commented on #151
@morki could you please share a Micronaut application that uses JOOQ so I can use it as a base app for our Micronaut-GraalVM CI?
I don't have experience with JOOQ so I'd really appreaciate if you can share a simple app like this https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal/tree/master_h2. It only contains a few domain classes and some db queries.
Thanks!

[2020-06-02 17:26] morki commented on #151
@ilopmar yes, I will try. Can I see the CI code somewhere? It seems it's not using Github Actions.

[2020-06-03 06:57] ilopmar commented on #151
@morki Sorry but I didn't explain properly. You don't need to worry about CI, that's my job. What I would like is a Micronaut JOOQ application (written in Java) with a couple of entities and queries configured as a native-image and that I can also run with `./gradlew run`.
Then I can adapt it and make part of our CI pipeline.

Also, depending on how the app and the GraalVM configuration look like,

[2020-06-03 07:42] morki commented on #151
@ilopmar Hi, I have something here https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal/pull/1 so let's move this discussion there :)

[2020-06-04 13:08] morki opened #186 "Using @javax.transaction.Transactional fails on GraalVM"
I have some problem / misunderstanding with Micronaut Data Transactions and JOOQ.

### Steps to Reproduce

[code]

### Expected Behaviour

When I remove `@Transactional` annotation from `update1()`, only `update2()` should run in transaction.

### Actual Behaviour

Exception is thrown `No current transaction present. Consider declaring @Transactional on the surrounding method`.

Is it intended? Wh

[2020-06-04 13:17] graemerocher commented on #186
If you preform multiple queries with `@Transactional` you would get multiple transactions which is not really efficient

[2020-06-04 13:35] morki commented on #186
@graemerocher thank you for feedback. I think I dont understand you. Every query inside method annotated with `@Transactional` will get its own transaction?

[2020-06-04 18:12] morki commented on #186
@graemerocher it seems `@javax.transaction.Transactional` does not work in native image.  If using `@TransactionalAdvice` or `@Readonly`, everythink works as expected even in native image.

For curiosity, even if I change  `@Transactional` to `@TransactionalAdvice` only on one method, everything works fine, too, even the other methods.

On classic JVM, both cases are ok. Maybe I am doing something

[2020-06-04 18:45] graemerocher commented on #186
Seems like a bug. I will take a look

[2020-06-05 13:42] hrpath opened #189 "Can't install UCP"
Hello,

I'm trying to update my project from direct Oracle jar dependency to UCP

Blog post from Oracle differs from Micronaut documentation.
Not sure how to declare the dependencies, runtime or implementation
Not sure that UCP package is published looking at the error message

Thank you !

### Steps to Reproduce

1. Add dependencies to gradle
implementation('io.micronaut.configuration:micronaut-j

[2020-06-09 10:47] graemerocher commented on #186
I can't seem to reproduce this, could you provide an example that reproduces the issue?

[2020-06-09 11:09] morki commented on #186
Of course, working on it.

[2020-06-09 11:53] morki commented on #186
@graemerocher so, as a base, I took GraalVM test for JOOQ that I made for @ilopmar to test JOOQ in  `micronaut-graal-tests`.

Without transactions:
- https://github.com/morki/micronaut-data-jdbc-graal/tree/jooq-diff
- working fine

After adding Micronaut Data TX with `@Transactional`:
- https://github.com/morki/micronaut-data-jdbc-graal/tree/tx-not-working
- working on JVM but not in native image

[2020-06-09 12:01] graemerocher commented on #186
Thanks will have a look

[2020-06-09 12:45] #186 closed

[2020-06-09 12:45] graemerocher commented on #186
The issue is fixed in core and will be corrected in the next 2.0 milestone release

[2020-06-09 12:55] morki commented on #186
Thank you very much :)

[2020-06-10 09:05] graemerocher commented on #189
It was only added to the BOM in newer versions of Micronaut 1.3.x

[2020-06-10 09:05] #189 closed

[2020-06-10 09:07] #136 closed

[2020-06-11 07:09] ilopmar commented on #151
@morki What is happening is a bug in Micronaut not generating the right introspection metadata for array classes. See https://github.com/micronaut-projects/micronaut-core/issues/3481

I'm going to move all those classes from `value` parameter to `typeNames` as explained in the workaround.

[2020-06-11 07:23] #151 closed

[2020-06-11 09:24] sdelamo commented on #130
I added a commit to the sample repo updating the app in case anyone needs to perform a similar update.

[2020-06-11 11:23] morki opened #198 "Release new patch version"
Can we release new patch version with fix of JOOQ GraalVM please?

[2020-06-11 11:34] ilopmar commented on #198
Sure!

[2020-06-11 11:41] ilopmar commented on #198
Relase published (waiting for sync to Central). Also PR for updating the BOM created. I'll merge it once the build passes.

For future requests like this is better if you ask directly on our Gitter channel: https://gitter.im/micronautfw/

[2020-06-11 11:41] #198 closed

[2020-06-11 11:45] morki commented on #198
Thank you very much @ilopmar, next time I will use Gitter :)

[2020-06-13 07:39] graemerocher opened #200 "Add a BOM"
Project should publish a BOM

[2020-06-23 10:16] ilopmar opened #217 "Creating app with data-jdbc brings old version of micronaut-jdbc to the classpath"
Create a new application with Micronaut 2.0.0.RC2:

[code]

Get the dependecy report:
[code]

We can see that `micronaut-jdbc:1.3.5` is pulled in:
[code]

We can see the same if we import the project on IntelliJ:

![image](https://user-images.githubusercontent.com/559192/85391815-f6bcd800-b54a-11ea-8658-bd6699c7aaa6.png)

I'm not really sure if this is because of the groupId being changed or becau

[2020-06-24 09:35] ilopmar opened #221 "Creating app with jooq brings old version of micronaut-jdbc to the classpath"
This is like https://github.com/micronaut-projects/micronaut-data/issues/613 but without micronaut-data.

It happens with all the submodules that use the old dependency instead of the new one. PR coming!

[2020-06-24 09:55] #221 closed

[2020-06-25 12:46] kristofdho opened #229 "H2 not working with file based databases"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. build native image of the example application
2. run the native image

### Expected Behaviour

Application creates file based database

### Actual Behaviour

Applicat

[2020-06-25 14:00] kristofdho commented on #229
After further investigation, all that seems to be required is adding the referenced classes from `org.h2.store.fs.FilePath#registerDefaultProviders` for reflective instantiation and adding a config line
[code]

[2020-06-25 16:04] dave08 opened #231 "Health endpoint hangs when using jasync"
## Logs

2020-06-25 15:59:12.899 [nioEventLoopGroup-1-3] DEBUG i.m.c.interceptor.CacheInterceptor - Value found in cache [discovery-client] for invocation: Flowable getInstances(String serviceId)
--
  |   | 2020-06-25 15:59:12.899 [nioEventLoopGroup-1-3] DEBUG i.m.c.interceptor.CacheInterceptor - Value found in cache [discovery-client] for invocation: Flowable getInstances(String serviceId)
  |  

[2020-06-30 08:44] kristofdho opened #233 "H2Dialect does not initialize correctly"
Upon instantiation, H2Dialect does some version checks based on reflection on the `org.h2.engine.Constants` class, this configuration is missing.
Additionally, there are some warnings about being unable to instantiate the Identifier Optimizer, also caused by missing reflection config for the `org.hibernate.id.enhanced.Optimizer` subclass constructors.

A minor extra issue is that the Hibernate ver

[2020-07-01 11:36] #233 closed

[2020-07-01 12:59] #229 closed

[2020-07-04 01:44] spencercjh opened #237 "Two suspicous JOOQ bug"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

**I just copy some codes from a JOOQ project without micronaut JOOQ but with pure JOOQ. Whether it is Micronaut 2.0.0 or 1.3.6, there are following two problems with mic

[2020-07-04 02:45] spencercjh commented on #237
@graemerocher I go here to continue bug report.

[2020-07-06 04:51] #237 closed

[2020-07-22 17:53] andcuevas opened #262 "Connection pool exausted using micronaut transaction."
I created an example application to reproduce the problem [here](https://github.com/andcuevas/micronaut-tx-connection-leak).

In order to run this example you need a PostgreSQL database.

Edit the application.yml file and change:
[code]

With your values.

Edit pom.xml and change:
[code]

With your values.

Run the Application class.

If you see in the log that the application is inserting values,

[2020-07-28 09:27] sdelamo commented on #97
Closed via https://github.com/micronaut-projects/micronaut-sql/pull/266

[2020-07-28 09:27] #97 closed

[2020-07-28 14:10] shahmirn commented on #16
For anyone that runs into this post, and is using MySQL for cloud SQL and also using cloud run, and wants it to work with GraalVM, native-image, this was my solution:

1. Use the mariadb JDBC driver instead of mysql
2. Modify the dockerfile to to resemble something like what's below (added a run.sh script, coreutils, and socat):

[code]

3. Create a run.sh script that has something like:

[code]

[2020-07-30 15:07] sdelamo opened #271 "Build references micronautVersion when it should micronaut-spring"
https://github.com/micronaut-projects/micronaut-sql/blob/master/hibernate-jpa-spring/build.gradle#L14

[2020-07-31 05:44] #271 closed

[2020-08-03 10:12] ilopmar opened #275 "Refactor JdbcFeature and HibernateFeature"
Now that the project has been upgraded to use Micronaut 2.0 refactor https://github.com/micronaut-projects/micronaut-sql/blob/master/jdbc/src/main/java/io/micronaut/jdbc/nativeimage/JdbcFeature.java and https://github.com/micronaut-projects/micronaut-sql/blob/master/hibernate-jpa/src/main/java/io/micronaut/configuration/hibernate/jpa/graal/HibernateFeature.java to use https://github.com/micronaut-

[2020-08-06 16:24] arudge commented on #231
sounds similar to: https://github.com/micronaut-projects/micronaut-sql/pull/110

[2020-08-14 10:17] graemerocher commented on #231
@dave08 seems to be a duplicate of #110

Can you try a newer version?

[2020-08-16 06:10] dave08 commented on #231
It could be, I had to switch off health checks because of this ever since. I'll give it a try soon and close this issue if resolved, thanks!

[2020-08-21 14:40] sdelamo opened #288 "micronaut-sql docs should contain a Release History section which points to Github releases."
The information about releases which is now in the [introduction section](https://micronaut-projects.github.io/micronaut-sql/latest/guide/#introduction) should be moved to github releases.

[2020-08-24 20:14] andcuevas commented on #262
I made a debug of the example application I created for this issue. I found a difference when it works without problems and when it fails.

When works without problems:

The class io.micronaut.configuration.jooq.JooqConfigurationFactory receives a datasource of type io.micronaut.transaction.jdbc.TransactionAwareDataSource.DataSourceProxy

When fails:

The class io.micronaut.configuration.jooq.Jooq

[2020-08-25 01:27] andcuevas commented on #262
Debugging the class io.micronaut.context.DefaultBeanContext, the method doCreateBean.
In the code:

[code]

```entry``` has two values:

1. io.micronaut.transaction.jdbc.TransactionAwareDataSource
2. io.micronaut.flyway.DataSourceMigrationRunnerDefinition

The order of the list determines whether the application works or not.

If I remove micronaut-flyway, the list only has TransactionAwareDataSou

[2020-08-25 07:30] alvarosanchez commented on #262
I think this is caused by https://github.com/micronaut-projects/micronaut-flyway/blob/master/flyway/src/main/java/io/micronaut/flyway/DataSourceMigrationRunner.java#L56

@ilopmar @graemerocher is there a way around this? Maybe `JooqConfigurationFactory` could check whether the `DataSource` has been resolved already? Or do it in the `DataSourceResolver` implementation?

[2020-08-25 07:32] graemerocher commented on #262
@ilopmar probably best placed to answer, not sure what Flyway is doing to cause this

[2020-08-25 07:43] alvarosanchez commented on #262
@graemerocher I mentioned you because you changed it in this commit: https://github.com/micronaut-projects/micronaut-flyway/commit/35467e945a59b8babee35e83ee5bb00e35323065#diff-b5158eb97449b43606aafc851eddc31cR57

[2020-08-25 07:45] graemerocher commented on #262
Right. If I recall it was because Flyway needed the non-transactional datasource to work correctly

[2020-08-25 07:47] alvarosanchez commented on #262
Then maybe https://github.com/micronaut-projects/micronaut-flyway/blob/master/flyway/src/main/java/io/micronaut/flyway/DataSourceMigrationRunner.java#L68 can be changed to return `event.getBean()`?

[2020-08-25 07:55] graemerocher commented on #262
it should in fact be `event.getBean()` and this is indeed a major bug in the flyway integration as it is essentially deactivating transaction support when it is present

[2020-08-28 12:18] spencercjh opened #302 "Micronaut JOOQ and Micronaut Data have suspicious compatibility issues"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-09-08 12:59] tilmanrossmy opened #303 "When upgrading Micronaut from 1.3.6 to 2.0.1 the @Replaces does not work anymore custom (Kotlin) DataSourceFactory"
When upgrading Micronaut from 1.3.6 to 2.0.1 the @Replaces annotation does not work anymore for a custom (Kotlin) Hikari DataSourceFactory

### Steps to Reproduce

1. Create a custom hikari DataSourceFactory
2. Annotate it with @Replaces(io.micronaut.configuration.jdbc.hikari.DatasourceFactory::class))
3. Print a message to console, when method  open fun dataSource(datasourceConfiguration: Datasou

[2020-09-10 09:42] alvarosanchez commented on #302
So for my own understanding, is the issue here that the documentation should mention that `io.micronaut.data:micronaut-data-jdbc` needs to be added to the classpath as well?

Also, I don't get what is the connection with jOOQ here.

[2020-09-10 11:12] alvarosanchez commented on #302
It is not an issue. If you want to use Micronaut Data, as [explained in the documentation](https://micronaut-projects.github.io/micronaut-data/latest/guide/#quickStart), you not only need `micronaut-data-processor`, but also a runtime dependency on the *actual implementation*, currenty either Hibernate/JPA or JDBC.

Neither an issue. Micronaut Data, as [explained in the documentation](https://micr

[2020-09-10 11:12] #302 closed

[2020-09-10 11:15] spencercjh commented on #302
thank you very much!!!!!!

[2020-09-30 11:53] #288 closed, assigned to ilopmar

[2020-10-06 10:25] tompoch commented on #79
The issue still persists in micronaut-sql 3.0.0

[2020-10-21 13:24] #275 closed

[2020-10-21 15:53] #231 closed

[2020-11-09 13:13] khekrn opened #369 "Micronaut native image not working with MYSQL"
After having initial chat with @graemerocher in the gitter, he has pointed out the [micronaut jpa native branch](https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/tree/2.1.x_mysql) which continuously tests Micronaut Data + native image. Using this branch when I execute without native image everything works perfectly fine but with native image mysql connection is not happening

###

[2020-11-12 07:42] graemerocher opened #364 "com.mysql.jdbc.Driver is deprecated"
Autodetection of the database driver is defaulting to the deprecated version of the MySQL driver:

https://github.com/micronaut-projects/micronaut-sql/blob/master/jdbc/src/main/java/io/micronaut/jdbc/JdbcDatabaseManager.java#L42

This should be replaced with `com.mysql.cj.jdbc.Driver`

[2020-11-12 07:43] graemerocher commented on #364
This also means by default things are broken in GraalVM because the feature is looking for the new driver:

https://github.com/micronaut-projects/micronaut-sql/blob/master/jdbc/src/main/java/io/micronaut/jdbc/nativeimage/JdbcFeature.java#L55

So GraalVM fails with:

[code]

[2020-11-12 07:57] graemerocher commented on #364
And actually the new driver is not working on GraalVM:

[code]

[2020-11-12 14:47] #364 closed

[2020-11-16 20:05] ilopmar opened #372 "Fail to create native images with Micronaut SQL 3.3.0 and Micronaut 2.2.0 snapshot"
After the release of Microaut SQL 3.3.0 the Micronaut Data JPA test applications fail. This happens for the four test apps: H2, MariaDB, Postgres and MySQL.

See https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/pipelines/216801089

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal`
- `cd micronaut-data-jpa-graal`
- `git checkout 2.2

[2020-11-16 20:07] graemerocher commented on #372
@dstepanov do you know what this could be? Seems we need a test case for graal when hibernate proxy generation is not enabled

[2020-11-17 08:58] graemerocher commented on #372
@ilopmar can you review the PR and test that it works then we will need to release another version

I have tested it myself with your sample app but just want to be double sure

[2020-11-17 09:35] ilopmar commented on #372
Done! Works for me :-)

[2020-11-17 10:17] dstepanov commented on #372
Strange, the only difference is this:
[code]

[2020-11-17 10:21] graemerocher commented on #372
@dstepanov that is not the case. Since the substitution that was put in place modifies the application https://github.com/micronaut-projects/micronaut-sql/blob/master/hibernate-jpa/src/main/java/io/micronaut/configuration/hibernate/jpa/graal/HibernateSubstitutions.java#L230

[2020-11-17 10:27] dstepanov commented on #372
Yes, but that just replaces the need for it. I have tried to run the test without the property and it works 🤔

[2020-11-17 10:45] dstepanov commented on #372
@ilopmar Is there a way to reproduce it locally?

[2020-11-17 10:53] ilopmar commented on #372
@dstepanov I explained how to test everything locally in this issue. Please note that it happens with the current GraalVM version 20.2.0 so you don't need to compile GraalVM from master branch.

The only thing you may need is the following in the application `build.gradle` to force the snapshot version:

[code]

[2020-11-17 11:02] #372 closed

[2020-11-17 15:26] dstepanov commented on #372
Looks like `DataEntityManagerFactoryBean` is replacing `StandardServiceRegistry` and it doesn't includes `AvailableSettings.BEAN_CONTAINER`.

The only difference is:
[code]
@graemerocher Is it still needed to be replaced? Maybe it can be refactored to use some kind of `CurrentSessionContextProvider`

[2020-11-17 15:36] graemerocher commented on #372
yeah it would be nice to get rid of DataEntityManagerFactoryBean

[2020-11-22 11:55] ivangfr opened #380 "Cannot set final field: java.util.concurrent.CopyOnWriteArrayList.lock"
Hi guys!

I've recently updated the **Micronaut** apps inside Java framework comparison project to version `2.2.0`;

Looks like the slow shutdown I commented in this issue (https://github.com/micronaut-projects/micronaut-core/issues/4280) is solved.

However, the [`micronaut-book-api`](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/book-api/micronaut-book-api) native a

[2020-11-23 11:16] graemerocher commented on #380
The reflect config for Hikari https://github.com/micronaut-projects/micronaut-sql/blob/master/jdbc-hikari/src/main/resources/META-INF/native-image/io.micronaut.configuration/micronaut-jdbc-hikari/reflect-config.json

Needs modifying to include `allowWrite` on the final field mentioned in the error message.

Also the group if the file should be renamed to `io.micronaut.sql`

@ilopmar do you have ti

[2020-11-23 11:19] ilopmar commented on #380
@graemerocher no, I don't have time at this moment, at least not for making the changes. If anyone submit a PR I can test it before we merge it.

[2020-11-25 03:06] wbprime opened #381 "Injecting connection error when using micronaut-jooq together with data-jdbc for 2 named datasources"
When using jooq together with data-jdbc (to gain declarative transaction support) with 2 datasources config, exception io.micronaut.context.exceptions.NoSuchBeanException got thrown when trying to perform db operations.

Below list a demo project being able to reproduce this issue.

Contact me if more info required.

### Steps to Reproduce

1. add micronaut-jooq & micronaut-data-jdbc dep
2. add 2

[2020-11-27 14:49] #380 closed

[2020-12-02 09:36] vishnuvijaypr opened #393 "Dynamic Sorting is not working as expected"
I need to sort an column that is not present in the entity
@Data
@Table(name = "pd_transaction_id_mapping")
@Entity
public class PdTransactionIdMapping {
@Id
@GeneratedValue(strategy = GenerationType.AUTO)
private int id;
@OneToOne(cascade = CascadeType.ALL)
@JoinColumn(name = "user_id", referencedColumnName = "id")
private User user;
 @OneToOne(cascade = CascadeType.ALL)
    @JoinColumn(name = "a

[2020-12-04 15:05] gradinac commented on #369
Hey @khekrn!
Could you try the native-image application again with:
 - GraalVM 20.3: https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.3.0/graalvm-ce-java11-linux-amd64-20.3.0.tar.gz
 - micronaut-data-jpa-graal: https://github.com/micronaut-graal-tests/micronaut-data-jpa-graal/tree/2.2.x_mysql (branch 2.2.x_mysql)
After giving it a go locally, it seems to be working

[2020-12-04 15:12] gradinac opened #398 "Micronaut native-image issues when using the MySQL X Protocol"
A sample micronaut [application](https://github.com/mikarinneoracle/petsdb) that uses the MySQL X protocol fails with:
[code]
The issue appears to happen with GraalVM 20.3 and Micronaut 2.2. The root of the issue seems to be missing reflection configuration required for the X protocol.

[2020-12-04 15:12] gradinac commented on #398
I'll create a PR with the fix and I'll attach it to this issue.

[2020-12-04 16:06] khekrn commented on #369
@gradinac Let me try in the weekends and get back to you and Thanks

[2020-12-07 11:43] khekrn commented on #369
@gradinac, Yep It's working as expected. Closing the issue

![image](https://user-images.githubusercontent.com/48693882/101346983-629fbc80-38af-11eb-95cd-190a3d441769.png)

[2020-12-07 11:43] #369 closed

[2020-12-07 11:45] gradinac commented on #369
@khekrn I'm glad to hear that! Thank you for testing this out - if you hit any more issues, let us know

[2020-12-08 06:35] khekrn commented on #369
@gradinac   👍

[2020-12-10 09:17] #398 closed

[2021-03-11 17:10] rawilder opened #433 "If no default datasource entities are defined, no datasource entities will be processed"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-03-26 03:00] nhoughto opened #438 "DatasourceConfiguration sets validationQuery / connectionTestQuery by default, even though not recommended."
Looking through  getValidationQuery()  specifically (https://github.com/micronaut-projects/micronaut-sql/blob/e2ddc231a7cb877e962f704f5f4681ed39cb7e44/jdbc/src/main/java/io/micronaut/jdbc/CalculatedSettings.java#L162):

[code]

it seems like the default behaviour is to set a connection validation / test query in the config, without an obvious way to unset/remove the setting. Setting a test query i

[2021-03-29 08:31] ikovalyov opened #441 "Datasource is swallowing initialisation exceptions"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Use datasource onfiguration with some required fields missed

The generated code for datasource looks like

[code]

If there are any issues with bean instantiation they

[2021-03-29 12:24] ikovalyov opened #442 "Allow lazy loading of the data sources"
We don't need to load datasources in our web app, or tests. We need it only if app is loaded from the command line. Unfortunately there is no way to do a lazy loading of the datasources as it is annotated with `@Context`

[2021-04-19 17:24] fsousa310 commented on #1
Try use ``` @Transaction(readOnly = true) ```

[2021-04-19 17:56] franclinsousa commented on #1
@hohonuuli Try use ``` @Transaction(readOnly = true) ```

[2021-05-13 16:06] dstepanov commented on #79
I have tested it with Vertx 4 and it looks like it's fixed.

[2021-05-13 16:08] dstepanov commented on #442
You should probably have a different profile where data-sources properties are only provided in the command line profile.

[2021-05-13 16:10] #79 closed

[2021-06-02 05:43] sdelamo commented on #442
@ikovalyov

what you could do is to move the `datasources` block to a configuration file such as `application-cli.yml`.

Then it would not be loaded unless you run with environments such as `cli`

[2021-06-03 10:06] pgressa opened #460 "Schema not created in native image"
When using native image version of orders app https://github.com/pgressa/oraclecloud-cloudnative/tree/master/src/orders the schema was not created what ended up in stacktrace of:
[code]

After I have used graalvm (jit) version of orders then schema was created and after replacing the image again by native-image version the app works as expected.

[2021-06-03 11:16] graemerocher commented on #460
Potential workaround is to use flyway to setup the schema for production until this is resolved. This issue surprises me since I am pretty sure we have hibernate native tests. I do wonder if it is again the configuration not taking effect in native somehow.

[2021-06-14 17:53] dstepanov commented on #460
[code]
I cannot reproduce this one, you can see seq. is being created for me.

[2021-06-15 08:05] pgressa commented on #460
OK I have tested it against newly created ATP and it works. Let me try to create new mushop deployment, in case it won't work I'll give you access to the stack.

[2021-06-15 13:22] pgressa commented on #460
deployed new stack, does not happening right now:
[code]

[2021-06-15 13:22] #460 closed

[2021-06-17 07:52] ilopmar opened #465 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-06-17 17:40] kristofdho opened #466 "Native image compilation fails on sun.nio.ch config for h2"
Native image with hibernate and h2 fails with a runtime <> rerun config conflict on windows.

This configuration is still present in micronaut:
https://github.com/micronaut-projects/micronaut-sql/blob/daa7ad520d8a3fba5b2f93306180263672bdf92a/jdbc/src/main/java/io/micronaut/jdbc/nativeimage/JdbcFeature.java#L110

which conflicts with default config in graalvm:
https://github.com/oracle/graal/blob/1

[2021-07-01 13:54] #466 closed

[2021-07-06 15:16] LPalmerMSI opened #474 "JASYNC dependency is not managed by micronaut-sql"
Micronaut 2.5.7

The jasync version must be set manually in build.gradle because the dependency is not managed by micronaut-sql.

When build.gradle includes:
[code]
Then gradle error:
[code]

Workaround:
Look at gradle.properties in the main project directory and include the compatible version.  Add it to the import:
[code]

[2021-07-13 10:31] graemerocher commented on #474
Fixed by new `micronaut-sql-bom` subproject

[2021-07-13 10:31] #474 closed

[2021-07-13 10:31] #200 closed

[2021-07-14 13:46] ilopmar opened #477 "Error starting an app with JPA and Micronaut 3"
The GraalVM Micronaut Data + JPA applications are failing on CI. The error only happens for Micronaut 3, the same version of Micronaut Data (`2.4.8-SNAPSHOT` at this moment) works perfectly for Micronaut 2.5.x applications.

It is possible to build the native image but it fails during startup. See error below.

This same error happens with all the database: H2, MariaDB, Postgres,...

### Steps to

[2021-07-14 15:57] #477 closed

[2021-07-22 09:34] cemo opened #481 "r2dbc support for jooq"
Since the Jooq is supporting r2dbc natively. I think we should support  integrate micronaut-r2dbc with micronaut-sql.

[2021-08-03 23:32] chrisparton1991 opened #484 "Outdated documentation for JDBC Transaction management"
### Expected Behavior

1. Create a new project using https://launch.micronaut.io. Default settings, but with `jdbc-hikari` added:
![image](https://user-images.githubusercontent.com/13063119/134454340-ec6dfbda-d10f-4ba4-aa1e-7e146a01999e.png)

2. Follow https://micronaut-projects.github.io/micronaut-sql/latest/guide/#jdbc to get transactions working.

### Actual Behaviour

The docs are outdated aro

[2021-08-04 00:33] chrisparton1991 commented on #484
Changing `runtimeOnly("org.springframework:spring-jdbc")` to `implementation("org.springframework:spring-jdbc")` places `org.springframework.transaction.annotation.Transactional` onto my compile-time classpath, which allows me to use Spring-based transaction management.

It would be nice to use Micronaut's `io.micronaut.spring.tx.annotationTransactionInterceptor`, but that doesn't appear to be wor

[2021-08-08 10:43] cemo commented on #481
[code]

I added such a configuration to my project @graemerocher. Would you consider or suggest a better way? I would like to contribute to support totally.

[2021-08-08 10:59] graemerocher commented on #481
Looks like a good start. Submit a PR and we can provide more feedback

[2021-08-20 19:17] MT-Jacobs commented on #433
This is fixed by https://github.com/micronaut-projects/micronaut-sql/pull/434 which went into https://github.com/micronaut-projects/micronaut-sql/pull/469, right? If so, I think this can be closed.

[2021-09-23 22:25] chrisparton1991 opened #558 "Outdated documentation for JDBC Transaction management"

[2021-09-23 22:26] #484 closed

[2021-10-11 15:21] LPalmerMSI opened #494 "JAsync Health Endpoing using RxJava 2 in Micronaut 3.1.0"
### Expected Behavior

RxJava 2 is no longer available in Micronaut 3 but JAsyncHealth is using Flowable from io.reactivex. This causes the health endpoint to throw an exception.

### Actual Behaviour

_No response_

### Steps To Reproduce

_No response_

### Environment Information

Windows 10
JDK 11

### Example Application

_No response_

### Version

3.1.0

[2021-10-11 17:44] #494 closed, assigned to jameskleeh

[2021-10-11 23:49] nhoughto commented on #438
thanks!

[2021-10-12 14:03] pgressa opened #497 "Exception in log stream when closing jdbc-ucp pool"
### Expected Behavior

When the application shuts down the UCP connection pool is closed.

### Actual Behaviour

The log stream contains;
[code]

### Steps To Reproduce

Run tests of jdbc-ucp

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.1.0

[2021-10-13 16:49] #497 closed, assigned to pgressa

[2021-11-01 13:33] pgressa opened #507 "build: Pipeline fails for Java 16 b/c of jdbi in groovy"
### Expected Behavior

pipeline passes

### Actual Behaviour

The tests fails for java16.
[code]

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.0.1

[2021-11-01 13:34] pgressa commented on #507
According to https://issues.apache.org/jira/browse/GROOVY-10145 it is fixed in grovvy 4.0.0, and based on the comment the  https://issues.apache.org/jira/browse/GROOVY-10194 should address this as well.

[2021-11-12 09:51] arbbista opened #509 "JOOQ causing runtime error with Micronaut framework when running on native image"
### Issue description

I have built a project with Micronaut framwork and JOOQ library for database connection that runs with GraalVM native-image. It works fine until I make a request which makes a connection to the database that uses JOOQ library.

This is the error that occurs:

[code]
I am currently using JOOQ plugin:
[code]

and the dependency:
[code]

With GraalVM I have generated the JSON c

[2021-11-12 11:11] graemerocher commented on #509
You can annotate `UserConfigurationsRecord` with `@ReflectiveAccess` since JOOQ seems to require it

[2021-11-16 23:09] rawilder opened #511 "JpaConfiguration::findEntities is using a non-thread safe HashSet"
### Expected Behavior

Multiple packages are scanned and all entities are recognized.

### Actual Behaviour

Not all entities are recognized when multiple packages are specified in entity-scan.

I'm having a hard time validating without actually cloning and referencing a local copy version of the library, but from my understanding of HashSet, it is a non-thread safe data structure and the parallel

[2021-11-17 00:26] rawilder commented on #511
I may be having a misunderstanding and some other misconfiguration, but based on code and javadocs it seems like this is potentially a bug

draft pr: https://github.com/micronaut-projects/micronaut-sql/pull/512

[2021-11-17 16:21] MT-Jacobs commented on #511
To flatten this out a bit:
[code]
becomes
[code]
That seems like a clear usage of a HashSet in a concurrent fashion to me.

[2021-11-19 14:53] morten-andersen opened #513 "Implement DataSourcePoolMetadata for HikariCP"
### Expected Behavior

Enabling jdbc metrics as documented here [Metrics Concepts](https://micronaut-projects.github.io/micronaut-micrometer/latest/guide/#metricsConcepts) does not lead to any `hikaricp.*` metrics being exposed on the prometheus endpoint.

### Actual Behaviour

No  `hikaricp.*` metrics are found on the prometheus endpoint

### Steps To Reproduce

Running with the following depende

[2021-11-22 14:17] arbbista commented on #509
Thank you for you answer Graeme but it's not working.

[2021-11-24 04:18] nhoughto commented on #442
Would love this, causing a bit of pain atm with shared/inherited config, where datasource config is specified at a higher level and this triggers downstream components to try and construct the Datasource where i'd like them not to.

I believe the idiomatic micronaut way to do this is to support `io.micronaut.core.util.Toggleable` and then configure the data source as `enabled: false` at a higher l

[2021-12-09 12:09] morten-andersen commented on #513
This is actually working out of the box, it was due to me creating the `DataSource` in code in a factory instead of in Micronaut configuration. I.e. like this

[code]

But `HikaryConfig` takes a metricRegistry as a property, so it was to easy to fix by injecting it like this

[code]

[2021-12-09 12:09] #513 closed

[2021-12-17 11:11] #507 closed

[2021-12-17 14:53] #511 closed

[2022-01-22 13:09] yakom opened #548 "java.lang.ClassCastException thrown during context destruction."
### Expected Behavior

the Micronaut context is destroyed without an exception when using DBCP.

### Actual Behaviour

when using a context with DBCP data sources, its destruction causes: `java.lang.ClassCastException: class io.micronaut.transaction.jdbc.TransactionAwareDataSource$DataSourceProxy cannot be cast to class io.micronaut.configuration.jdbc.dbcp.DatasourceConfiguration`.

it happens bot

[2022-02-10 01:59] viniciusxyz opened #555 "Documentation on spring jdbc is out of date"
### Issue description

1 - The documentation asks us to add the **io.micronaut:micronaut-spring** dependency, but it is not possible to resolve it in maven, but the following dependency is resolved and works normally **io.micronaut.spring:micronaut-spring**.

![image](https://user-images.githubusercontent.com/19265464/153321555-4008e973-298a-46da-a3ab-c6346428e4ed.png)

2- Another point is that in

[2022-02-10 02:10] viniciusxyz opened #556 "Question about continued support for Spring JDBC."
### Issue description

I would like to know if there are plans to deprecate the compatibility layer with Spring Jdbc in future versions, I'm asking this question because I have some applications that I plan to migrate and this feature helps a lot in this work and even maintains great performance.

If this question is in the wrong channel, I apologize in advance.

[2022-02-10 08:47] graemerocher commented on #556
There are no plans at this stage no

[2022-02-10 08:48] #556 closed

[2022-02-10 08:49] graemerocher commented on #555
Would you like to send a PR to the documentation?

[2022-02-10 11:07] viniciusxyz commented on #555
I sure would like to, I just didn't send the PR because I couldn't find the doc in the repo, I'm new to the project, can you please tell me where the doc is so I can send the PR?

[2022-02-10 11:50] viniciusxyz commented on #555
I submitted the PR but I noticed that we have another problem on our hands, the @Transactional annotation from micronaut for spring is marked deprecated, when using it the code works perfectly, but when using the annotation from javax/jakarta or spring in if the code stops working, in the case of spring we still have the option to add the annotation process to deal with the discontinuation of the

[2022-02-10 14:20] viniciusxyz commented on #555
I added the link to the configuration process in the annotation processor path a [PR#557](https://github.com/micronaut-projects/micronaut-sql/pull/557) this should make it easier for other people who are in the process of migrating projects like me to understand.

If you have any writing or logic errors in the PR let me know and I'll fix it as soon as possible, thank you.

[2022-02-11 09:46] #555 closed

[2022-02-11 10:38] graemerocher commented on #558
@burtbeckwith could you add some docs on using Micronaut SQL with Micronaut TX without Micronaut Data to address this issue.

[2022-02-11 10:41] matt-snider commented on #558
@graemerocher @burtbeckwith  Very much appreciated :pray:

[2022-03-11 12:03] viniciusxyz commented on #558
Some of these problems were reported in issue #555, in which case I sent an MR with the correction of part of the mentioned problems.

[2022-03-11 12:12] viniciusxyz opened #570 "Spring jdbc-template causes errors when transactions are used on native images."
### Expected Behavior

When the application is natively compiled I expect the same behavior as the jvm when using transactions.

### Actual Behaviour

When I try to run a code that has spring's @Transactional I get the error below:

[code]

### Steps To Reproduce

1. Clone project https://github.com/viniciusxyz/micronaut-transaction-failed/tree/transaction-error-native-image
2. Create native image

[2022-03-17 18:49] matt-snider commented on #558
@burtbeckwith Do you have any guidance here? Haven't found a way to get `@Transactional` to work with or without `micronaut-data`. Is there a minimal project that shows this working?

[2022-03-17 19:51] matt-snider commented on #558
Okay I've been struggling with this one for awhile and it turns out the `TransactionalInterceptor` has been getting applied the whole time. The issue is that any methods not annotated with `@Transactional` throw an exception and this lead me to believe something was very wrong with my setup.

[code]

So obviously I'm doing something wrong here because the [Transactions Guide](https://micronaut-pro

[2022-03-23 08:43] matt-snider commented on #558
I was able to get transactions working without Spring by adding the dependencies
 `annotationProcessor("io.micronaut.data:micronaut-data-processor:3.2.2")` and `implementation("io.micronaut.data:micronaut-data-tx")`. It turns out that the `NoTransactionException` was caused by a bug which I reported in #1399

This issue was about outdated docs, so I hope I didn't derail the discussion too much. St

[2022-04-29 08:46] renovate[bot] opened #597 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update dependency com.github.ben-manes.caffeine:caffeine to v2.9.3
 - [ ] chore(deps): update dependency com.microsoft.sqlserver:ms

[2022-05-19 19:53] viniciusxyz commented on #570
closing this issue to open in micronaut-spring

[2022-05-19 19:53] #570 closed

[2022-05-27 01:58] j1cs opened #654 "Error calling ServiceLoader.Provider.type()"
### Expected Behavior

I got this same error and i came up with a person in the gitter chat had the same problem. https://gitter.im/micronautfw/questions?at=628cc3224aa6c31dca197972
I thought this should be reported as a bug an find a better way to handle this in the core framework.
So taking the following setup:
[code]

### Actual Behaviour

Shows the follow error:
[code]

The workaround is add `

[2022-05-27 08:35] graemerocher commented on #654
@n0tl3ss can you take a look, extra entries needed in https://github.com/micronaut-projects/micronaut-sql/blob/master/hibernate-jpa/src/main/java/io/micronaut/configuration/hibernate/jpa/graal/HibernateSubstitutions.java#L141 to solve this

[2022-05-27 08:35] graemerocher commented on #548
@n0tl3ss please take a look at this one too

[2022-05-30 14:09] #654 closed

[2022-05-30 15:37] n0tl3ss commented on #548
I found out that problem is in dispose method of the `io.micronaut.configuration.jdbc.dbcp.$DatasourceConfiguration$Definition` that is autogenerated. Depose method looks like this:

[code]
it requires that var3 is type of DatasourceConfiguration class. But the dispose receives `io.micronaut.transaction.jdbc.TransactionAwareDataSource$DataSourceProxy` class that is wrapper around  DatasourceConfig

[2022-05-31 08:27] dstepanov commented on #548
@n0tl3ss Can you try it with 3.5.0?

[2022-06-20 00:30] arvidvillen commented on #509
I have a similar problem.
Adding `jpaAnnotations = true` (like the guide says https://micronaut-projects.github.io/micronaut-sql/latest/guide/#jooq) does not work as JOOQ 3.16 generates Jakarta annotations (https://blog.jooq.org/jooq-3-16-and-java-ee-vs-jakarta-ee/) which seems to not be supported by Micronaut.
It would be awesome if Micronaut had native support for JOOQ (at least fix graalvm imag

[2022-06-30 15:17] sdelamo opened #677 "Create section in toc for Hibernate Reactive"
<img width="1117" alt="Screenshot 2022-06-30 at 17 16 13" src="https://user-images.githubusercontent.com/864788/176714203-1b80a77e-d7c8-4879-8fbd-4739ca1ed6be.png">

[2022-07-01 09:34] morki commented on #481
It seems it is now implemented in https://github.com/micronaut-projects/micronaut-sql/commit/d1fc4c6abc01609f0607e301b43ee49064c0f083

[2022-07-01 09:36] morki commented on #509
@arvidvillen, @arbbista Jakarta annotations are now supported by newest Micronaut versions and with these, it works like a charm. Can be closed.

[2022-07-01 09:41] morki commented on #558
For me, personally, it was also confusing the first time, because we don't use `micronaut-data` but need the `micronaut-data-tx` to use with `micronaut-sql`. Maybe the transactions module should be transfered to `micronaut-sql` the same as is the reactive transactions module located in `micronaut-r2dbc`?

[2022-07-01 14:07] #677 closed

[2022-07-21 13:26] sdelamo opened #696 "JooQ app fails in GraalVM Tests suite 3.6.x"
### Issue description

see:

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2751988446

[2022-07-21 16:40] #696 closed

[2022-07-22 08:01] sdelamo opened #698 "Update to latest version of JOOQ"
### Issue description

Since [3.17](https://www.jooq.org/notes/?version=3.17#3.17.0) baseline is Java 17.

This relates to: [Drop 11 and 8 and set Java 17 as Micronaut 4 baseline](https://github.com/micronaut-projects/micronaut-core/issues/7006)

[2022-07-22 08:17] sdelamo opened #699 "Upate Micronaut SQL to the newest Peristence Jakarta API"
### Issue description

see: https://jakarta.ee/specifications/persistence/3.0/

[2022-07-22 08:27] sdelamo opened #700 "Upgrade to Hibernate 6"
### Issue description

https://hibernate.org/orm/releases/6.1/

[2022-07-26 08:49] sdelamo opened #703 "Micronaut Data JPA GraalVM Test app fails with 22.2"
https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2768795411

or:

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2768789199

or

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2768789310

or:

https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/2768789330

[code]

[2022-07-28 05:22] #703 closed

[2022-07-28 09:32] dstepanov commented on #700
The best way would be to create a hibernate6 module because not everyone is going to update to Hibernate 6 that fast. Also, Hibernate 6 doesn't support reactive compared to Hibernate 5.

[2022-07-29 13:18] sdelamo opened #705 "GraalVM 22.2 fails with NoClassDefFoundError: Could not initialize class org.mariadb.jdbc.internal.protocol.MasterProtocol"
Steps to reproduce:

- [Clone repository `micronaut-graal-tests/micronaut-data-jdbc-graal` branch `3.6.x_mariadb`](https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal/tree/3.6.x_mariadb).

Start maria locally via Docker. The app expects a `pets` database to exists and credentials:

https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal/blob/3.6.x_mariadb/src/main/resourc

[2022-08-01 09:08] sdelamo commented on #705
I have tried downgrading the driver in the https://github.com/micronaut-graal-tests/micronaut-data-jdbc-graal/tree/3.6.x_mariadb to 2.7.5

with

[code]

But the error still happens.

[2022-08-01 09:19] sdelamo commented on #705
I assume we need to do a change here:

https://github.com/micronaut-projects/micronaut-sql/blob/master/jdbc/src/main/java/io/micronaut/jdbc/nativeimage/JdbcFeature.java#L134-L139

[2022-08-01 09:57] dstepanov commented on #705
Can you reproduce the problem in a pr to the project? We run graalvm tests here

[2022-08-01 10:11] sdelamo commented on #705
[SQL PRs](https://github.com/micronaut-projects/micronaut-sql/pull/690 ) are already failing https://github.com/micronaut-projects/micronaut-sql/runs/7588418263?check_suite_focus=true because of the issue

[2022-08-01 10:19] graemerocher commented on #705
It seems to be failing somehow because `javax.sql.rowset.serial.SerialException` is missing

[2022-08-01 10:24] graemerocher commented on #705
it works when using:

[code]

[2022-08-01 10:24] graemerocher commented on #705
@melix seems we need to add imports for the `javax.sql` package as well :(

[2022-08-01 10:35] melix commented on #705
Can you try with this?

[code]

[2022-08-01 10:39] graemerocher commented on #705
yes that works

[2022-08-01 10:46] melix commented on #705
Do we want to release a new version of the Gradle plugin with the fix or is the workaround sufficient?

[2022-08-01 10:59] sdelamo commented on #705
I think we should do a patch of the Gradle plugin

[2022-08-01 11:51] olpaw commented on #705
That does not make sense. Module `org.graalvm.nativeimage.builder` does not contain package `javax.sql`. If you try that on a simple native-image command line invocation you see that it makes no sense:
[code]

[2022-08-01 13:11] timyates commented on #705
Do we just need to add

[code]

To JdbcFeature?

[2022-08-01 13:59] sdelamo commented on #705
Thanks @timyates  I tried locally and it works. I. have created a PR. https://github.com/micronaut-projects/micronaut-sql/pull/709

@melix  This way, we don't need to apply the fix to the Gradle plugin. Thus, Maven users will get the fix as well.

[2022-08-01 14:00] timyates commented on #705
@sdelamo hang file...

Not sure it does work with 22.2 😿

[2022-08-01 14:02] melix commented on #705
Yeah I'm confused because we paired with @fniephaus and tried this without success. Fabio is trying to pin the root cause.

[2022-08-01 14:12] sdelamo commented on #705
I think I tried with 22.2. I will try again.

[2022-08-01 14:21] fniephaus commented on #705
I looked into this with @olpaw and just opened #710 which fixes the issue. The problem is that the Native Image builder opened packages for the unnamed module (so essentially for everyone), including the `java.sql` modules, when it was running on the class path. Now, that is runs on the module path, this no longer happens, which is good and part of the reason why the builder now runs on the module

[2022-08-01 14:23] melix commented on #705
I'm still getting an error with ` initializeAtBuildTime(access, "javax.sql.rowset.serial.SerialException");` but it seems to be a timeout in starting the containers: https://ge.micronaut.io/s/fahoased2ypqk/tests/:tests:hibernate5:hibernate5-mariadb:testNativeImage/example.sync.MariaDBAppSpec/initializationError?expanded-stacktrace=WyIwIl0&top-execution=1

[code]

[2022-08-01 14:24] melix commented on #705
Thank you @fniephaus !

[2022-08-01 14:26] timyates commented on #705
Yeah, that was me getting excited and picking 22.1 instead of 22.2 for testing :-(. Sorry about that TooManyJvmsException

[2022-08-01 14:50] sdelamo commented on #705
@fniephaus Thanks for the help.

[2022-08-01 15:58] #705 closed

[2022-08-09 06:45] kristofdho opened #714 "Support H2 version 2"
### Feature description

Currently there is support for H2 up to version 1.4.200, but starting from 2.1.202 there have been numerous changes that seem to result in more reflective operations.

Configuration for both versions major versions could be supported based on the value of `org.h2.engine.Constants#BUILD_ID` or `org.h2.engine.Constants#VERSION_MAJOR`.

So far I've seen these changes:

This l

[2022-08-12 15:09] tmohme opened #716 "JPA App working on JVM fails with "org.hibernate.AnnotationException" when running native"
### Expected Behavior

The application should run native when built with "./gradlew clean dockerBuildNative" the same way as it runs when built with "./gradlew dockerBuild".

### Actual Behaviour

When running the native application, I get a `org.hibernate.AnnotationException: com.example.DemoClassId has no persistent id property: com.example.DemoClass.id`

### Steps To Reproduce

clone https://gi

[2022-09-01 09:18] tqad opened #719 "JpaConfiguration copy operation does not copy properties and mapping resource information"
Assuming that the copy method of the JpaConfiguration class should take over the values of the default configuration, there is an error in
https://github.com/micronaut-projects/micronaut-sql/blob/d32f8fa2951a4bc1e1eb31754feea27bca26b92b/hibernate-jpa/src/main/java/io/micronaut/configuration/hibernate/jpa/JpaConfiguration.java#L295

[2022-09-10 16:37] donarus opened #723 "MAJOR: Hibernate configuration from application.yaml is not taken into account"
### My setup
Micronaut 3.6.3 with micronaut-data-hibernate-jpa

Part of our **application.yaml** which worked prior upgrade

[code]

After upgrade from Micronaut 3.5.5 (which uses older micronaut-data version) to Micronaut 3.6.3, it started to fail on error

[code]

So I tried to add the correct strategy to application.yaml (although it should be a default)

[code]

but without effect. So i was de

[2022-09-11 20:02] donarus commented on #723
seems to be the same issue as #719

[2022-09-11 20:04] donarus commented on #723
Duplicate of #719  - closing

[2022-09-14 13:39] driverpt opened #724 "Configurable jOOQ version"
### Feature description

Make jOOQ configurable by setting a Property.

e.g.:

[code]

[2022-09-19 08:34] tqad commented on #723
Hi @donarus,
you can write a workaround by listening on BeanCreatedEvent. I've used this to overwrite cloned configuration. See, i.e.:
https://github.com/tqad/micronaut-data-jpa-multi-tenant/blob/master/src/main/java/com/example/multitenant/JpaConfigurationCreatedEventListener.java

Maybe this helps while my PR is not merged.
Best regards

[2022-09-25 22:18] diamondq opened #730 "JooqConfigurationFactory (and now DSLContextFactory) no longer public"
### Expected Behavior

Since the v4.5.0 ( PR #674  ), the JooqConfigurationFactory (and as part of that PR, the broken out DSLContextFactory) was no longer marked a public class. This means that I can't use an @Replaces to override the factory.

In my case, I have multiple DSLContexts, one for each DataSource, and was using the Micrometer libraries wrapper (MetricDSLContext.withMetrics) to create

[2022-09-26 09:49] graemerocher commented on #730
we are trying to figure out how this got into a minor release. These changes were intended for the next major. Sorry about this.

[2022-09-27 02:07] diamondq commented on #730
The fix for JooqConfigurationFactory is great. However, as part of the original PR, the DSLContextFactory was broken out of the JooqConfigurationFactory (ie. it used to be inside JooqConfigurationFactory), so that likely needs to be moved back to public as well.

[2022-09-28 09:35] sdelamo commented on #730
Thanks @diamondq I have created another PR.

[2022-09-28 20:10] #730 closed

[2022-09-29 00:20] hayond commented on #714
same issue to me, I have to add my own `AutomaticFeature ` implementation

[2022-09-29 01:45] hayond commented on #714
ok.. seems the micironaut-data r2dbc, totally not support H2 version 2, I will revert to old version

[2022-09-29 17:28] Bejenar opened #734 "Error starting Micronaut server: Bean definition [org.hibernate.SessionFactory] could not be loaded: Error instantiating bean of type [io.micronaut.configuration.hibernate.jpa.conf.SessionFactoryPerDataSourceFactory]"
### Expected Behavior

when building native image: `mvn package -Dpackaging=docker-native -Pgraalvm`

 got ` Caused by: com.oracle.graal.pointsto.constraints.UnsupportedFeatureException: No instances of org.apache.logging.slf4j.SLF4JLogger are allowed in the image heap as this class should be initialized at image runtime.` Tried to make a workaround with: `--initialize-at-build-time=org.apache.log

[2022-09-29 17:30] Bejenar commented on #734
Initial build error

[code]

[2022-09-30 22:38] luisospina-sealed commented on #16
Sorry to bring this old question back, but, are you also facing long times to start the Micronaut app in Cloud run with this socket set up?
In my case, a simple Micronaut app with just a DB connection takes approx 5 seconds to start in cloud run, while using an external database (no socket required) takes only 2 seconds.

[2022-10-28 12:54] timyates opened #742 "Postgres doesn't work with hibernate-reactive"
### Expected Behavior

Hibernate Reactive should work with Postgres databases.

### Actual Behaviour

When you attempt to do something that touches the database (such as run the app or a test), it throws the following exception:

[code]

It seems to be missing a dependency (as described here https://vertx.io/docs/vertx-pg-client/java/#_sasl_scram_sha_256_authentication_mechanism), and indeed addin

[2022-10-28 12:57] timyates commented on #742
I believe this is also an issue with micronaut-data hibernate-reactive

[2022-11-30 12:17] timyates opened #751 "Fix Graal Tests and re-enable jooq-r2dbc-postgres tests"
Currently the Graal Tests, and jooq-r2dbc-postgres for the next major version are failing.

Before Micronaut 4.0.0 we need to re-enable these, and get them working

I suspect we require a new version of micronaut-data, but as both of these projects rely on each other, I disabled things to get a SNAPSHOT out